<div class="container">
  <div class="main center-block row">
    <div class="text-center">
      <h2>You are not logged in</h2>
      <p>Something went wrong please try again</p>
    </div>
  </div>
</div>